@import './mint-ui';
@import './var';
@import './helper';

html {
  font-family: 'PingFang SC', 'Lantinghei SC', 'Microsoft YaHei', arial, '\5b8b\4f53', sans-serif, tahoma;
}

img {
  width: 100%;
}

.iconfont {
  font-size: 0;
  width: 56px;
}

button,
input {
  outline: none;
  border: 0;
}

.content {
  padding: 0 20px;
}

::-webkit-input-placeholder {
  color: #707070;
}